.AppProfileUser {
  padding: 20px;
  display: flex;
  color: #ffffff;
  font-size: 20px;
}

.AppProfileUserAvatar {
  overflow: hidden;
  border-radius: 5px;
  min-width: 240px;
  max-height: 240px;
}

.AppProfileUserInfo {
  margin-left: 20px;
}

.AppProfileUserName {
  font-size: 40px;
  margin-bottom: 10px;
}