.UsersPagePagination {
    display: flex;
    margin-bottom: 20px;
    overflow-y: scroll;
}
.UsersPagePaginationItem {
    width: 20px;
    height: 20px;
    min-width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #3E4043;
    font-size: 12px;
    cursor: pointer;
    margin-right: 10px;
}
.sellectedPage {
    font-weight: bold;
    background: #3E4043;
    border: 1px solid #272727;
}