body {
  color: #ffffff;
  transition: all 0.3s ease;
}

div, ul, li {
  box-sizing: border-box;
  transition: all 0.3s ease;
}

ul {
  margin: 0;
}

h2 {
  margin: 0;
  font-size: 40px;
  font-weight: 400;
}

a {
  text-decoration: none;
  transition: all 0.3s ease;
}

.p20 {
  padding: 20px;
}

.btn {
  border: none;
  background: #2A2A2A;
  color: #AAAAAA;
  padding: 7px 20px;
  font-size: 20px;
  border-radius: 5px;
  font-weight: 700;
}

.btn:hover {
  box-shadow: 0 0 3px 1px #fff;
}

.btn:focus {
  outline: none;
}

.App {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto;
  background: #575757;
}

.AppHeader {
  width: 100%;
  background: #272727;
  padding: 20px;
}

.AppHeader img {
  width: 50px;
  height: 50px;
}

.AppSidebar {
  padding: 20px;
  width: 20%;
  background: #3c4043;
}

.AppSidebar .menu {
  display: block;
  padding: 0;
}

.AppSidebar .menuItem {
  margin-bottom: 15px;
  display: block;
}

.AppSidebar .menuItem a {
  display: block;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  background: #575757;
  padding: 5px 10px;
  border-radius: 5px;
}

.AppSidebar .menuItem a:hover {
  box-shadow: 0 0 5px 5px #272727;
}

.AppSidebar .menuItem a:active {
  box-shadow: 0 0 5px 3px #272727;
}

.AppProfile {
  width: 80%;
}

.AppProfileImg {
  width: 100%;
  overflow: hidden;
  height: 200px;
}

.AppProfileImg img {
  width: 100%;
  margin-top: -228px;
}

.AppProfileUser {
  padding: 20px;
  display: flex;
  color: #ffffff;
  font-size: 20px;
}

.AppProfileUserAvatar {
  overflow: hidden;
  border-radius: 5px;
  min-width: 240px;
  max-height: 240px;
}

.AppProfileUserInfo {
  margin-left: 20px;
}

.AppProfileUserName {
  font-size: 40px;
  margin-bottom: 10px;
}

.AppProfilePosts {
  padding: 20px;
}

.AppProfilePostsTitle {
  font-size: 40px;
  margin-bottom: 20px;
}

.AppProfilePostsInput textarea {
  width: 100%;
  height: 100px;
  font-size: 18px;
  padding: 10px 15px;
  box-sizing: border-box;
  resize: none;
  border-radius: 5px;
  background: #6f767b;
  color: #ffffff;
}

.AppProfilePostsInput textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #cecece;
  opacity: 1; /* Firefox */
}

.AppProfilePostsInput textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #cecece;
}

.AppProfilePostsInput textarea::-ms-input-placeholder { /* Microsoft Edge */
  color: #cecece;
}

.AppProfilePostsInput textarea:focus {
  outline: none;
}

.AppProfilePostsBtn {
  margin-left: auto;
  display: block;
  margin-top: 10px;
  cursor: pointer;
}

.AppProfilePostsList {
  margin-top: 20px;
}

.AppProfilePostsItem {
  display: flex;
  margin-bottom: 20px;
  background: #6F767B;
  padding: 10px;
  border-radius: 100px;
}

.AppProfilePostsItemIcon {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
}

.AppProfilePostsItemIcon img {
  width: 100%;
}

.AppProfilePostsItemMessage {
  flex-grow: 1;
  margin-left: 10px;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.AppDialogs {
  width: 80%;
}

.AppDialogsTitle {
  margin-bottom: 20px;
}

.AppDialogsContent {
  display: flex;
  width: 100%;
}

.AppDialogsLeft {
  width: 30%;
  border-right: 1px solid #A9A9A9;
  padding-right: 30px;
}

.AppDialogsList {
  padding: 0;
}

.AppDialogsItem {
  display: block;
  
}

.AppDialogsItem a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 10px 25px;
  background: #3c4043;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  border-radius: 100px 20px 100px 20px;
}

.AppDialogsItem a:hover {
  box-shadow: 0 0 10px 3px #fff;
}

.AppDialogsItem a:active {
  box-shadow: 0 0 3px 1px #fff;
}

.AppDialogsRight {
  padding-left: 30px;
  width: 70%;
}

.AppDialogsMessages {
  padding: 0px;
}

.AppDialogsMessagesItem {
  display: flex;
  margin-bottom: 20px;
  border: 1px solid #A9A9A9;
  border-radius: 10px;
  padding: 15px;
}

.AppDialogsMessagesItemAvatar {
  width: 70px;
  overflow: hidden;
  text-align: center;
}

.AppDialogsMessagesItemAvatar img {
  width: 100%;
  border-radius: 50%;
}

.AppDialogsMessagesItemText {
  margin-left: 20px;
  background: #6F767B;
  padding: 15px;
  border-radius: 5px 30px 30px 30px;
  flex-grow: 1;
}