body {
  color: #ffffff;
  transition: all 0.3s ease;
}

div, ul, li {
  box-sizing: border-box;
  transition: all 0.3s ease;
}

ul {
  margin: 0;
}

h2 {
  margin: 0;
  font-size: 40px;
  font-weight: 400;
}

a {
  text-decoration: none;
  transition: all 0.3s ease;
}

.p20 {
  padding: 20px;
}

.btn {
  border: none;
  background: #2A2A2A;
  color: #AAAAAA;
  padding: 7px 20px;
  font-size: 20px;
  border-radius: 5px;
  font-weight: 700;
}

.btn:hover {
  box-shadow: 0 0 3px 1px #fff;
}

.btn:focus {
  outline: none;
}

.App {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto;
  background: #575757;
}